---
import Layout from '../layouts/Layout.astro';
---

<Layout title="上传">
  <h1 class="text-3xl font-light mb-8">上传照片</h1>
  <div id="upload-root" class="space-y-6">
    <p class="text-neutral-400">Upload component will be mounted here.</p>
  </div>
</Layout>
